*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    min-height: 100vh;
}
.barratop{
    position: fixed;
    width: 100%;
    z-index: 9999999;

}

.barraNegra {
    background-color: black;
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    z-index: 9999999;

  }
  
  .left-icons, .right-icons {
    display: flex;
  }
  
  .left-icons a, .right-icons a {
    color: white;
    margin-right: 10px;
  }
  
  .center-text {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .barraBlanca{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    z-index: 9999999;

}
.firmaPag{
    font-size: 23px;
}

nav {
    padding: 10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  
  li {
    float: left;
    background-color: white;
    width: 150px;
    
  }
  
  a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }
.botones{
    font-size: 20px;
    font-weight: bold;
}
  #dropdown {
    position: relative;
    width: 150px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
#dropdown:hover .dropdown-content { 
    display: block;
  }
.zoomImg{
    margin-top: 3em;
    display: flex;
    width: 100%;
    height: 35em;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    overflow: hidden;
}
.boximg{
    width: 57em;
    height: 35em;
    overflow: hidden;
    background-position: center;
}
.boximg img{
    width: 100%;
    height: 100%;
    transition: all 3s;
    cursor: pointer;
}
.boximg:hover > img{
    transform: scale(1.2);

}
.showUp{
  display: flex;
        align-items: center;
        height: 40em;
   
}

.showUp .text {
  flex: 1;
  margin-right: 20px;
}

.showUp .text  {
  font-size: 24px;

}

.showUp .text p {
  font-size: 16px;
  line-height: 1.5;
}

.showUp .image {
  flex: 1;
  max-width: 100%;
  height: auto;

}

.showUp .clasicosRb{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;;
  font-weight: bold;
}
.showUp .mouse{
  display: flex;
  align-items: end;
  flex-direction: row-reverse;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  height: 80px;
}
.logiTech{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Playfair Display', serif;
  height: 160px;
}
.ahoraIn{
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
 font-family: 'Poppins', sans-serif;
 font-size: 35px;
 height: 100px;
}
.sinCa{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  font-family: 'Playfair Display', serif;
  height: 150px;
}

.content-wrap {
  padding-bottom: 60px; 
}

.footer {
  margin-top: 150px;
  background-color: black;
  color: white;
  height: 80px; 
  position:static;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
  text-decoration: none;
}

.content-wrap::after {
  content: "";
  display: block;
}

@media (max-width: 767px) {
  footer {
    position: static;
  }
}
